on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

name: CI
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
      - run: pnpm i --frozen-lockfile
      - run: bun wsrun -t -c run build
      - run: bun wsrun -t -m -c test
