on:
  workflow_dispatch: {}

name: release-manually
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
      - run: bun install --frozen-lockfile
      - run: bun wsrun -t -c run build
      - run: npm publish --access=public --workspace packages
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
